In [1]:
#Extracting UserIP and UUID data from click_log
import pandas as pd
from ip2geotools.databases.noncommercial import DbIpCity

click_log = pd.read_excel("/Users/dharshina/Downloads/C1X/172.31.4.99_jsonclick.log copy.xlsx")
data = click_log[['UUID','UserIP']]
data

                                UUID           UserIP
0                   2045cfce44424613    157.48.57.175
1                   87f3f588bf04d071       59.96.8.54
2                   451791fcceeb4a9c     157.48.99.94
3                   685e0267d24d63ef     202.71.8.208
4                   cc06485cb8662107     47.9.221.195
5                   285763bb146d3d60     47.247.0.176
6                   6cd6736183346815   223.182.10.132
7                   ee18114897947cba   157.37.225.153
8                   d8274c73815d4d63      103.52.0.34
9                   d51f247a276a6228     49.34.135.56
10                  16a3bbb8e4d5c150    47.30.174.118
11                  e86e37d4e0d16c83    223.182.16.32
12                  274ce62e8114977a    157.47.196.26
13                  57a64b0331949e86    223.186.0.151
14  85B2826A08A341959B1E14E22E7200F1  117.216.162.172
15                  a9f0c3a568cc4ab4    223.191.57.72
16                  8f80d862c20f3f3f    157.41.105.74
17                  ee18114897947cba   157.37.225.153
18                  ee18114897947cba   157.37.225.153
19                  8af6a8ff654efdb1    106.67.108.63
20                  25b8c5b9acd03b77     106.202.3.92
21                  ef45582ea9370e36    47.11.176.164
22                  49cd68ba69abce41    157.46.62.163
23                  aef272aeba4db237     27.60.68.227
24                  e86e37d4e0d16c83    223.182.16.32
25  85B2826A08A341959B1E14E22E7200F1  117.216.162.172
26                  e0f75901f9302531    49.15.197.246
27  976844813F004E9D877D12F5216615C5   223.237.155.21
28                  863fc3ec675f6fbb  106.222.228.142
29                  285763bb146d3d60    47.247.84.108
30                  b29938ed1c596552    157.48.38.104
31                  e6a99866161c2965    47.11.211.134
32                  157f3c2e57d2e480    157.43.202.99
33                  b30b447c8182bdbf   157.39.209.233
34                  3cfc3ad884cc3b9e  139.167.195.235
35                  910438fa51a5e505   103.204.124.98
36                  d8274c73815d4d63      103.52.0.34
37                  a07990055dca13ed  103.244.241.226
38                  e6b86f87fa39b1f9    47.29.219.234
39                  18e4480739e9fb40   103.206.11.128
40  7810AA3A13B24F40BBB6389B037E584D     42.111.39.36
41                  dc07e11a96ead7e1     27.97.231.54
42                  e5d4bc28d11a92ba    157.43.84.172
43  912F561F539E4F1190CFDA87FAA58001    157.51.118.41
44  357C1379108543C3A8AA983E16EFFDBF     183.83.1.217

In [2]:
#Converting the given IP to City and appending the data into a List
ip_city = []
for index,row in data.iterrows():
    response = DbIpCity.get(row[1])
    num_city = response.city
    ip_city.append(num_city)
    df_city = pd.DataFrame(ip_city)
df_city

                                0
0                       Vinukonda
1                       Bengaluru
2                       Vinukonda
3                       Ahmedabad
4                         Mathura
5                        Jabalpur
6              Guntur (Kothapeta)
7                          Jaipur
8                       Burhānpur
9                           Surat
10                      New Delhi
11             Guntur (Kothapeta)
12                    Navi Mumbai
13     Bengaluru (Sadanandanagar)
14                      Bengaluru
15             Mumbai (Mindspace)
16                    Navi Mumbai
17                         Jaipur
18                         Jaipur
19                      New Delhi
20                Delhi (Phase 1)
21                        Kolkata
22                    Navi Mumbai
23                Delhi (Phase 1)
24             Guntur (Kothapeta)
25                      Bengaluru
26                         Mumbai
27                        Chennai
28                Delhi (Phase 1)
29                       Jabalpur
30                      Vinukonda
31                        Kolkata
32                    Navi Mumbai
33                    Navi Mumbai
34                        Lucknow
35                          Morvi
36                      Burhānpur
37            Kolkata (Sovabazar)
38                         Nagaon
39  Kolkata (Subhas Sarobar Park)
40            Mumbai (Prabhadevi)
41                         Indore
42                    Navi Mumbai
43                       Turaiyūr
44      Hyderabad (Banjara Hills)

In [3]:
#Converting IP to Country and inserting the data into a List
ip_country = []
for index,row in data.iterrows():
    response = DbIpCity.get(row[1])
    num_country = response.country
    ip_country.append(num_country)
    df_country = pd.DataFrame(ip_country)
df_country

     0
0   IN
1   IN
2   IN
3   IN
4   IN
5   IN
6   IN
7   IN
8   IN
9   IN
10  IN
11  IN
12  IN
13  IN
14  IN
15  IN
16  IN
17  IN
18  IN
19  IN
20  IN
21  IN
22  IN
23  IN
24  IN
25  IN
26  IN
27  IN
28  IN
29  IN
30  IN
31  IN
32  IN
33  IN
34  IN
35  IN
36  IN
37  IN
38  IN
39  IN
40  IN
41  IN
42  IN
43  IN
44  IN

In [4]:
#GeoLocation: Creating a Excel file with UUID, UserIp, Country, City
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

df = pd.concat([data, df_country, df_city], axis = 1)

# changing columns using .columns() 
df.columns = ['UUID', 'UserIP', 'Country', 'City'] 
  
writer = ExcelWriter('GeoLocationData.xlsx')
df.to_excel(writer,'Sheet1',index=False)
writer.save()

In [5]:
#Count of UUID in a city
pd.value_counts(df.City)

Navi Mumbai                      6
Guntur (Kothapeta)               3
Jaipur                           3
Bengaluru                        3
Delhi (Phase 1)                  3
Vinukonda                        3
New Delhi                        2
Burhānpur                        2
Jabalpur                         2
Kolkata                          2
Turaiyūr                         1
Morvi                            1
Mumbai (Prabhadevi)              1
Nagaon                           1
Surat                            1
Ahmedabad                        1
Mumbai                           1
Mumbai (Mindspace)               1
Indore                           1
Lucknow                          1
Bengaluru (Sadanandanagar)       1
Kolkata (Subhas Sarobar Park)    1
Kolkata (Sovabazar)              1
Chennai                          1
Hyderabad (Banjara Hills)        1
Mathura                          1
Name: City, dtype: int64

In [6]:
#Finding the count of UserIp from GeoLocationData
pd.value_counts(df.UserIP)

157.37.225.153     3
223.182.16.32      2
117.216.162.172    2
103.52.0.34        2
103.204.124.98     1
157.51.118.41      1
47.29.219.234      1
47.11.176.164      1
157.39.209.233     1
42.111.39.36       1
157.41.105.74      1
157.48.38.104      1
103.244.241.226    1
223.182.10.132     1
49.34.135.56       1
27.60.68.227       1
223.191.57.72      1
27.97.231.54       1
139.167.195.235    1
157.43.202.99      1
106.202.3.92       1
47.30.174.118      1
49.15.197.246      1
157.46.62.163      1
47.9.221.195       1
106.222.228.142    1
59.96.8.54         1
103.206.11.128     1
157.47.196.26      1
106.67.108.63      1
223.237.155.21     1
202.71.8.208       1
157.48.57.175      1
157.43.84.172      1
47.247.0.176       1
47.247.84.108      1
47.11.211.134      1
183.83.1.217       1
223.186.0.151      1
157.48.99.94       1
Name: UserIP, dtype: int64

In [7]:
#Count of UUID in a Country from GeoLocationData
pd.value_counts(df.Country)

IN    45
Name: Country, dtype: int64

In [8]:
#Alternative for finding the count of UserIp from click_logs
pd.value_counts(click_log.UserIP)

157.37.225.153     3
223.182.16.32      2
117.216.162.172    2
103.52.0.34        2
103.204.124.98     1
157.51.118.41      1
47.29.219.234      1
47.11.176.164      1
157.39.209.233     1
42.111.39.36       1
157.41.105.74      1
157.48.38.104      1
103.244.241.226    1
223.182.10.132     1
49.34.135.56       1
27.60.68.227       1
223.191.57.72      1
27.97.231.54       1
139.167.195.235    1
157.43.202.99      1
106.202.3.92       1
47.30.174.118      1
49.15.197.246      1
157.46.62.163      1
47.9.221.195       1
106.222.228.142    1
59.96.8.54         1
103.206.11.128     1
157.47.196.26      1
106.67.108.63      1
223.237.155.21     1
202.71.8.208       1
157.48.57.175      1
157.43.84.172      1
47.247.0.176       1
47.247.84.108      1
47.11.211.134      1
183.83.1.217       1
223.186.0.151      1
157.48.99.94       1
Name: UserIP, dtype: int64